
.work{
 display: flex;
   justify-content: center;
   padding-bottom: 20px;
    
}

.header{
    padding-top: 20px;
    text-align: center;
}
.course-list-container {
    /* Regular styles for all screen sizes */
    font-size: 16px;
  }
  
  /* Media query for mobile-sized devices (max-width: 768px) */
  @media (max-width: 768px) {
    .course-list-container {
      font-size: 14px;
    }
  }
/* .A{
   
   
   
 display: flex;
 text-align: start;
}
p{
    margin-top: 10px;
}
.normal{
    background-color: rgb(206, 201, 228);
    border: none;
} */

